/* General styling for the body and container */
.body {
    font-family: Arial, sans-serif;
}



/* Search input container styling */
.searchInput_Container {
    display: flex;
    align-items: center;
    gap: 10px; /* space between input and button */
    margin-bottom: 30px;
    width: 100%;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    transition: border 0.3s;
}

#searchInput:focus {
    border: 1px solid #007BFF;
}

#courses-avai{
    margin: 10px;
}

.btn-success {
    padding: 10px 20px;
    cursor: pointer;
}


.template {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    width: 200px;

}


.template h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.template:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.course-image-wrapper{
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    overflow: hidden;    
}

.course-image-wrapper img{
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.course-details{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: relative; 

}
.course-name{
    font-size: 17px;
    font-size: 500;
    text-align: center;
}
.course-description,.course-duration{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.icon-wrapper {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    display: flex;
    gap: 10px;
  }
  .add-course-button {
    background-color: #12a89d; /* You can adjust this color as per your theme */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: 85%;
    margin-right: auto;
}

.add-course-button:hover {
    background-color: #0f8a75; /* A slightly darker shade for hover */
}