.body {
    background-color: #f8f9fa; /* light gray background color */
    font-family: Arial, sans-serif; 
}

.addpage {
    background-color: rgba(0,0,0,0.05); /* slightly shaded background */
}

.addform {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* slight shadow to give depth */
    background-color: #ffffff; /* white background color for form */
    padding: 20px; 
}

input.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px; 
    padding: 10px;
    width: 100%;
    margin-right: 105;
}

#updateButton {
    width: 40%;
    display: block;  /* This will make the button block-level, so it takes up its full container width */
    margin-left: auto; /* These two lines center the button */
    margin-right: auto;
}

.mb-3 {
    margin-bottom: 20px;
}